<h1>Notice Board</h1>

<h2>All Notices</h2>
<p><%= link_to 'New Notice', new_article_path %></p>
<p><%= link_to 'See hottest trends', controller: 'welcome' %></p>

<ul>
	<% @articles.each do |article| %>
	  <li>
	    <a href=<%=article_path(article)%> class="sticky">
	      <h2>Title: <%= article.title %></h2>
	      <p>Likes: <%= article.likes.length %></p>
	    </a>
	  </li>
	 <% end %>
 </ul>	



