<h1>Notice Board</h1>

<h2>All Notices</h2>
	<p><%= link_to 'New Notice', new_article_path %></p>
<table>
	<tr>
		<th>Title</th>
		<th>Likes</th>
		<th cospan="2"></th>
	</tr>
	<% @articles.each do |article| %>
		<tr>
			<td><%= article.title %></td>
			<td><%= article.likes.length %></td>
			<td><%=link_to 'Read Listing', article_path(article) %></td>
	<% end %>
</table>	

<p><%= link_to 'See hottest trends', controller: 'welcome' %></p>