<div class = "centered header">
	<h1>
		<%= @article.title %>
	</h1>

	<p><%= @article.text %></p>

	</br>

	<p><strong>Likes: </strong><%= @article.likes.length %>
	<%= render 'likes/form' %></p>

	</br>

	<h1>Comments</h1>
	<%= render @article.comments %>

	<strong>Add a comment:</strong>
	<%= render 'comments/form' %>

	</br>

	<%= link_to 'Edit', edit_article_path(@article) %> |
	<%= link_to 'Back', articles_path %> |
	<%= link_to 'Delete', article_path(@article), 
		method: :delete,
		data: { confirm: 'Are you sure?' } %>
</div>